<!-- About Section -->
{% assign about = site.data.about[0] %}
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>{{ about.heading }}</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="about-flex">
          <div class="about-photo">
            <img src="{{ about.image }}" alt="{{ about.imageAlt }}">
          </div>
          <div class="about-text">
            {% for paragraph in about.paragraphs %}
            <p>{{ paragraph.html }}</p>
            {% unless forloop.last %}<br>{% endunless %}
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="{{ about.ctaHref }}" class="btn btn-lg btn-outline page-scroll">
          <i class="fa fa-solid fa-code"></i> {{ about.ctaLabel }}
        </a>
      </div>
    </div>
  </div>
</section>
