<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Who am I?</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>I am Sebastian Southwell, a Fifth Year Computer Science student at the University of Sheffield and an Associate DevOps Engineer for the UK Home Office.</p>
        <br>
        <p>I have been learning Computer Science for 9 years and have made/worked on a variety of projects in my spare time, for recreation, my degree, hackathons and other external roles. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-solid fa-code"></i> My project roster
        </a>
      </div>
    </div>
  </div>
</section>
