<!-- Certifications Section -->
<section id="certifications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Certifications, Awards &amp; Degrees</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="certs-row">
          {% for cert in site.data.certifications %}
          <div class="cert-card">
            <i class="{{ cert.icon }}"></i>
            <span class="cert-name">{{ cert.name }}</span>
            <span class="cert-desc">{{ cert.description }}</span>
            <span class="cert-code">{{ cert.code }}</span>
            <span class="cert-dates">{{ cert.dates }}</span>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>
