<!-- Certifications Section -->
<section id="certifications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Certifications, Awards &amp; Degrees</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <div class="certs-row">
          <div class="cert-card">
            <i class="fa-brands fa-aws"></i>
            <span class="cert-name">AWS Certified Cloud Practitioner</span>
            <span class="cert-desc">Foundational certification covering core AWS services, cloud architecture and security best practices.</span>
            <span class="cert-code">CLF-C02</span>
            <span class="cert-dates">2024 &ndash; 2027</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
