@import "normalize";
@import "rouge-github";
@import "variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


h1,h2{
  text-align: center;
}
.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-discord{
    background: #050050;
    color: white;
  }

  .fa-linkedin {
    background: #003863;
    color: white;
  }

  .fa-facebook {
    background: #003863;
    color: white;
  }

  .fa-envelope{
    color: white;
    background: rgb(0, 132, 194);
  }

  .site-footer {
    color: $header-heading-color;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
    clear: both;
    display: inline-block;
    position: sticky;
    border-top: solid 1px $hr-border-color;
    text-align: center;
    left: 0;
    bottom: 0;
    width: 100%;
    -webkit-box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
    box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
  }
  .site-footer span{
      color: white;
      font-weight: bold;
  }

  :root { 
    --header-height: 100%; 
  } 
  .page-header{
    text-align: center;
    padding-bottom: 1rem;
    align-content: center;
    color: $header-heading-color;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    left: 0;
    top: 0;
    width: 100%;
    --header-height: height; 
    -webkit-box-shadow: 0 3p 10px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
  }
  .logo-image{
    width: 100px;
    height: 100px;
  }

  
  .all-content{
    text-align: center;
    width: 100%;
    align-content: center;
    margin: auto;
    background-color: white;
  }

  .main-content p{
    margin-top: 0%;
  }

  .center-list{
    text-align: left;
    align-content: center;
    width:20%;
    margin-left:auto;
    margin-right:auto;
  }

  .hiddenSubmit{
    visibility:hidden;
  }

  #emailSend{
    padding: 0%;
  }

  nav{
    align-content: center;
    justify-content: center;
    display: none;
  }

  nav ul{
    list-style: none;
    align-content: center;
    display: flex;
    justify-content: center;
  }
  
  nav ul li div{
    border-radius: 10%;
    border: 2px solid #5a0000;
    color: rgba(255,255,255,0.7);
    background-color: rgba(255,255,255,0.04);
    border-color: rgba(255,255,255,0.4);
    border-style: solid;
    border-width: 1px;
    border-radius: 0.3rem;
    padding: 1rem 0 0 0;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    width: 10em;
    height: 3em;
    text-align: center;
    justify-content: center;
  }
  
  nav ul li a{
    color: white;
    font-style: normal;
    text-align: center;
    vertical-align:middle;
    text-decoration: none;
  }

  .all-content,html,body{
    display: flex;
    flex-flow: column;
    height: 100vh;
  }
  
  @media (max-width:800px) {
    nav ul{
      display: block;
      flex-direction: column;
      max-width: 100%;
      padding-left: 5%;
    }
    nav ul li{
      padding: 2.5% 0% 0% 0;
    }
    nav ul li div{
      width: 95%;
    }
    .logo-image{
      width: 80px;
      height: 80px;
    }

    #hamburger-menu{
      display: inline-block;
      font-size: 40px;
    }

    h1,h2{
      font-size: 20px;
    }
  }
  @media (min-width:800px)
  {
    .main-content p{
      text-align: center;
      max-width: 50%;
      margin-left:auto;
      margin-right:auto;
      align-content: center;
    }

    nav ul{
      flex-direction: row;
    }

    nav ul li{
      padding: 0% 2.5% 0% 0;
    }
    nav{
      display: block;
    }

    #hamburger-menu{
      display: none;
    }
  }

  .visible-nav{
    display:block;
  }