@import "normalize";
@import "rouge-github";
@import "variables";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");


.fa {
    padding: 10px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  .fa-discord{
    background: #050050;
    color: white;
  }

  .fa-linkedin {
    background: #003863;
    color: white;
  }

  .fa-facebook {
    background: #003863;
    color: white;
  }

  .site-footer {
    color: $header-heading-color;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    border-top: solid 1px $hr-border-color;
    text-align: center;

    -webkit-box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
    box-shadow: 0 -3px 10px rgba(57, 63, 72, 0.3);
  }
  .site-footer span{
      color: white;
      font-weight: bold;
  }

  .page-header{
    text-align: center;
    padding-bottom: 1rem;
    align-content: center;
    color: $header-heading-color;
    background-color: $header-bg-color;
    background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

    -webkit-box-shadow: 0 3p 10px rgba(57, 63, 72, 0.3);
    -moz-box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
    box-shadow: 0 3px 10px rgba(57, 63, 72, 0.3);
  }
  .logo-image{
    width: 100px;
    height: 100px;
  }

  .main-content{
    text-align: center;
    width: 100%;
    height: 100%;
  }

  html{
    width: 100%;
    size: 100%;
  }
  
  .main-content p{
    margin-top: 0%;
  }
