<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <script src="https://kit.fontawesome.com/1e89297854.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/default.js"></script>

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <a href="/"><img src="/assets/images/logo.png" class="logo-image"></a>
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: "" }}</h2>
      <div>
        <a id="hamburger-menu" class="fas fa-bars"></a>
      </div>
      <nav id="page-nav-bar">
        <ul>
          <li>
            <div>
              <a href="/">Home</a>
            </div>
          </li>
          <li>
            <div>
              <a href="/projects">Projects</a>
            </div>
          </li>
          <li>
            <div>
              <a href="/assets/files/TemplateCV.pdf">CV</a>
            </div>
          </li>
          <li>
            <div>
              <a>Blog</a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main id="content" class="main-content" role="main">
      <div id="all-content">
        {{ content }}
      </div>
      <footer class="site-footer">
        <span>Social Media </span>
        <a href="https://www.linkedin.com/in/sebastian-southwell/" class="fa fa-linkedin"></a>
        <a href="https://www.facebook.com/SebNeedsABetterUsername" class="fa fa-facebook"></a>
        <a onclick="copyDiscord();" class="fa fa-discord"></a>
        <form action="mailto:sas@sebasouthwell.co.uk"method="post"enctype="text/plain" class="fa" id="emailSend">
            <a onclick="document.getElementById('emailSend').submit();" class="fa fa-envelope"></a>
        </form>
        <br>
        <span class="site-footer-owner">Copyright © Sebastian Southwell 2021.</a></span>
      </footer>
    </main>
  </body>
</html>
